@charset "utf-8";
/* CSS Document */

html {
    background: black;
}

body {

}



label, input, textarea, select, td, th, div {
    font-size: 15px !important;
}

#form legend, .form-style legend{
    font-weight: bold;
    padding: 5px;
    text-align: center;
}


#form label:not(.default), .form-style label:not(.default){
    display: inline-block;
    text-align: left !important;
    margin: 0.3em 2% 0 0;
}

#form label:not(.not-w), .form-style label:not(.not-w){
    width: 100% !important;
}

#form input:not([type="checkbox"]):not([type="radio"]):not(.not-w), #form select:not(.not-w) {
    width: 100% !important;
}
.form-style input:not([type="checkbox"]):not([type="radio"]):not(.not-w), .form-style select:not(.not-w) {
    width: 100% !important;
}

#form p, .form-style p{
    margin: 5px 0
}

#tabla_wrapper {
    overflow-x: auto;
}

.pdf {
    cursor: pointer;
}

.tooltip-fixed {
    max-width: 270px;
    width: 100%;
}

.selectpicker
{
    left: 0!important;
}
.uppercase{
    text-transform: uppercase;
}
#form textarea, #form2 textarea, .form-style textarea{
    text-transform: uppercase;
    border: 1px solid #505050 !important;
}
#form input , #form2 input, .form-style input{
    border: 1px solid #505050 !important;
}
#form p , #form2 p, .form-style p{
    position: relative;
}
#form select , #form2 select, .form-style select{
    border: 1px solid #505050 !important;
}
.bootstrap-select button {
    border: 1px solid #505050 !important;
}

.ui-front{
    z-index:1500!important;
}

#tabla_wrapper {
    width: 100%;
}

.dataTables_wrapper{
    overflow: hidden!important;
}
.buttons-excel  {
    color: #fff!important;
    background-color: #28a745!important;
    border-color: #28a745!important;
    font-size: 15px!important;
}

.btn.dropdown-toggle
{
    height: 2.5em!important;
}

legend
{
    background: #0069dd;
    color: #fff!important;
}

input, select{
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s
}

input:read-only {
    background: #dadada;
}

.ui-dialog-titlebar-close {
    display: flex!important;
    justify-content: center!important;
  }










