@font-face {
	font-family: 'iconos';
	src:url('fonts/iconos.eot');
	src:url('fonts/iconos.eot?#iefix') format('embedded-opentype'),
		url('fonts/iconos.woff') format('woff'),
		url('fonts/iconos.ttf') format('truetype'),
		url('fonts/iconos.svg#iconos') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'iconos';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-home, .icon-home-2, .icon-home-3, .icon-office, .icon-newspaper, .icon-pencil, .icon-pencil-2, .icon-quill, .icon-pen, .icon-blog, .icon-droplet, .icon-paint-format, .icon-image, .icon-image-2, .icon-images, .icon-camera, .icon-music, .icon-headphones, .icon-play, .icon-film, .icon-camera-2, .icon-dice, .icon-pacman, .icon-spades, .icon-folder-open, .icon-folder, .icon-stack, .icon-paste, .icon-paste-2, .icon-paste-3, .icon-copy, .icon-copy-2, .icon-copy-3, .icon-file, .icon-file-2, .icon-file-3, .icon-profile, .icon-file-4, .icon-library, .icon-books, .icon-book, .icon-feed, .icon-connection, .icon-podcast, .icon-bullhorn, .icon-pawn, .icon-diamonds, .icon-clubs, .icon-tag, .icon-tags, .icon-barcode, .icon-qrcode, .icon-ticket, .icon-cart, .icon-cart-2, .icon-cart-3, .icon-coin, .icon-credit, .icon-calculate, .icon-support, .icon-phone, .icon-address-book, .icon-phone-hang-up, .icon-notebook, .icon-envelop, .icon-pushpin, .icon-location, .icon-location-2, .icon-compass, .icon-map, .icon-map-2, .icon-history, .icon-download, .icon-box-remove, .icon-box-add, .icon-drawer, .icon-drawer-2, .icon-drawer-3, .icon-cabinet, .icon-tv, .icon-tablet, .icon-mobile, .icon-mobile-2, .icon-laptop, .icon-screen, .icon-keyboard, .icon-print, .icon-calendar, .icon-calendar-2, .icon-stopwatch, .icon-bell, .icon-alarm, .icon-alarm-2, .icon-clock, .icon-clock-2, .icon-disk, .icon-storage, .icon-undo, .icon-redo, .icon-flip, .icon-flip-2, .icon-forward, .icon-undo-2, .icon-redo-2, .icon-reply, .icon-bubble, .icon-bubbles, .icon-bubbles-2, .icon-bubble-2, .icon-bubbles-3, .icon-bubbles-4, .icon-users, .icon-user, .icon-user-2, .icon-users-2, .icon-user-3, .icon-quotes-left, .icon-user-4, .icon-busy, .icon-upload, .icon-cogs, .icon-cog, .icon-equalizer, .icon-settings, .icon-wrench, .icon-unlocked, .icon-lock, .icon-lock-2, .icon-key, .icon-key-2, .icon-contract, .icon-expand, .icon-contract-2, .icon-zoom-out, .icon-expand-2, .icon-zoom-in, .icon-binoculars, .icon-search, .icon-spinner, .icon-spinner-2, .icon-spinner-3, .icon-spinner-4, .icon-spinner-5, .icon-spinner-6, .icon-cog-2, .icon-wand, .icon-hammer, .icon-aid, .icon-bug, .icon-pie, .icon-stats, .icon-bars, .icon-bars-2, .icon-gift, .icon-trophy, .icon-glass, .icon-mug, .icon-food, .icon-leaf, .icon-rocket, .icon-meter, .icon-hammer-2, .icon-dashboard, .icon-meter2, .icon-fire, .icon-lab, .icon-magnet, .icon-remove, .icon-download-2, .icon-upload-2, .icon-download-3, .icon-cloud-upload, .icon-cloud-download, .icon-menu, .icon-tree, .icon-numbered-list, .icon-list, .icon-list-2, .icon-signup, .icon-power-cord, .icon-switch, .icon-lightning, .icon-target, .icon-shield, .icon-accessibility, .icon-truck, .icon-road, .icon-airplane, .icon-briefcase, .icon-remove-2, .icon-upload-3, .icon-globe, .icon-earth, .icon-flag, .icon-link, .icon-attachment, .icon-eye, .icon-eye-blocked, .icon-eye-2, .icon-bookmark, .icon-bookmarks, .icon-brightness-medium, .icon-brightness-contrast, .icon-star, .icon-star-2, .icon-contrast, .icon-star-3, .icon-menu-2, .icon-cloud, .icon-heart, .icon-heart-2, .icon-heart-broken, .icon-thumbs-up, .icon-thumbs-up-2, .icon-happy, .icon-happy-2, .icon-wondering, .icon-neutral, .icon-neutral-2, .icon-wondering-2, .icon-confused, .icon-confused-2, .icon-shocked, .icon-shocked-2, .icon-evil, .icon-evil-2, .icon-angry, .icon-angry-2, .icon-cool, .icon-cool-2, .icon-grin, .icon-grin-2, .icon-wink, .icon-wink-2, .icon-sad, .icon-sad-2, .icon-tongue, .icon-tongue-2, .icon-smiley, .icon-smiley-2, .icon-point-up, .icon-point-right, .icon-point-down, .icon-point-left, .icon-warning, .icon-question, .icon-notification, .icon-info, .icon-info-2, .icon-cancel-circle, .icon-blocked, .icon-checkmark-circle, .icon-spam, .icon-close, .icon-checkmark, .icon-checkmark-2, .icon-spell-check, .icon-minus, .icon-plus, .icon-enter, .icon-exit, .icon-play-2, .icon-pause, .icon-stop, .icon-arrow-up-left, .icon-shuffle, .icon-loop, .icon-loop-2, .icon-loop-3, .icon-volume-decrease, .icon-volume-increase, .icon-volume-mute, .icon-volume-mute-2, .icon-volume-low, .icon-backward, .icon-forward-2, .icon-play-3, .icon-pause-2, .icon-stop-2, .icon-backward-2, .icon-forward-3, .icon-first, .icon-last, .icon-previous, .icon-eject, .icon-volume-high, .icon-next, .icon-volume-medium, .icon-arrow-up, .icon-arrow-up-right, .icon-arrow-right, .icon-arrow-down-right, .icon-arrow-down, .icon-arrow-down-left, .icon-arrow-left, .icon-arrow-up-left-2, .icon-arrow-up-2, .icon-arrow-up-right-2, .icon-arrow-right-2, .icon-arrow-down-2, .icon-arrow-down-right-2, .icon-arrow-down-left-2, .icon-arrow-left-2, .icon-arrow-up-left-3, .icon-arrow-up-right-3, .icon-arrow-up-3, .icon-arrow-right-3, .icon-arrow-down-right-3, .icon-arrow-down-3, .icon-arrow-down-left-3, .icon-arrow-left-3, .icon-tab, .icon-right-to-left, .icon-left-to-right, .icon-pilcrow, .icon-insert-template, .icon-table, .icon-table-2, .icon-sigma, .icon-omega, .icon-strikethrough, .icon-italic, .icon-underline, .icon-text-width, .icon-bold, .icon-text-height, .icon-font, .icon-filter, .icon-filter-2, .icon-scissors, .icon-crop, .icon-radio-unchecked, .icon-radio-checked, .icon-checkbox-partial, .icon-checkbox-unchecked, .icon-checkbox-checked, .icon-paragraph-left, .icon-paragraph-center, .icon-paragraph-right, .icon-paragraph-left-2, .icon-paragraph-center-2, .icon-paragraph-justify, .icon-paragraph-right-2, .icon-paragraph-justify-2, .icon-indent-increase, .icon-new-tab, .icon-indent-decrease, .icon-embed, .icon-code, .icon-console, .icon-share, .icon-mail, .icon-mail-2, .icon-mail-3, .icon-mail-4, .icon-google, .icon-google-plus, .icon-google-plus-2, .icon-google-plus-3, .icon-google-plus-4, .icon-dribbble, .icon-picassa, .icon-finder, .icon-paypal, .icon-paypal-2, .icon-apple, .icon-tux, .icon-picassa-2, .icon-paypal-3, .icon-foursquare, .icon-yahoo, .icon-flickr, .icon-flickr-2, .icon-tumblr, .icon-foursquare-2, .icon-flattr, .icon-tumblr-2, .icon-flickr-3, .icon-flickr-4, .icon-blogger, .icon-xing, .icon-safari, .icon-IcoMoon, .icon-opera, .icon-xing-2, .icon-blogger-2, .icon-lanyrd, .icon-vimeo, .icon-joomla, .icon-pinterest, .icon-IE, .icon-firefox, .icon-pinterest-2, .icon-wordpress, .icon-vimeo2, .icon-vimeo-2, .icon-youtube, .icon-youtube-2, .icon-github, .icon-github-2, .icon-wordpress-2, .icon-stackoverflow, .icon-chrome, .icon-css3, .icon-stumbleupon, .icon-stumbleupon-2, .icon-html5, .icon-html5-2, .icon-delicious, .icon-github-3, .icon-feed-2, .icon-feed-3, .icon-github-4, .icon-lastfm, .icon-file-css, .icon-file-xml, .icon-lastfm-2, .icon-github-5, .icon-feed-4, .icon-twitter, .icon-steam, .icon-linkedin, .icon-file-powerpoint, .icon-file-zip, .icon-reddit, .icon-steam-2, .icon-twitter-2, .icon-twitter-3, .icon-file-excel, .icon-skype, .icon-deviantart, .icon-deviantart-2, .icon-instagram, .icon-soundcloud, .icon-file-word, .icon-file-openoffice, .icon-soundcloud-2, .icon-forrst, .icon-facebook, .icon-facebook-2, .icon-windows8, .icon-forrst-2, .icon-file-pdf, .icon-libreoffice, .icon-windows, .icon-dribbble-2, .icon-facebook-3, .icon-google-drive, .icon-dribbble-3, .icon-android, .icon-yelp, .icon-warning-2, .icon-minus-2, .icon-calendar-3, .icon-flag-2, .icon-bookmark-2, .icon-camera-3, .icon-ipod, .icon-window, .icon-picture, .icon-cloud-2, .icon-locked, .icon-folder-2, .icon-monitor, .icon-trashcan, .icon-lamp, .icon-disk-2, .icon-bolt, .icon-mobile-3, .icon-camera-4, .icon-inbox, .icon-comment, .icon-search-2, .icon-droplet-2, .icon-ampersand, .icon-button, .icon-database, .icon-compass-2, .icon-mouse, .icon-dribbble-4, .icon-mic, .icon-envelope, .icon-forrst-3, .icon-refresh, .icon-list-3, .icon-credit-card, .icon-atom, .icon-grid, .icon-location-3, .icon-feed-5, .icon-briefcase-2, .icon-cart-4, .icon-blocked-2, .icon-tag-2, .icon-volume, .icon-winsows, .icon-target-2, .icon-volume-2, .icon-phone-2, .icon-target-3, .icon-contrast-2, .icon-play-4, .icon-star-4, .icon-stats-2, .icon-battery, .icon-clock-3, .icon-user-5, .icon-pause-3, .icon-pointer, .icon-target-4, .icon-code-2, .icon-forward-4, .icon-thumbs-up-3, .icon-bug-2, .icon-cog-3, .icon-music-2, .icon-console-2, .icon-thumbs-down, .icon-paperclip, .icon-keyboard-2, .icon-headphones-2, .icon-film-2, .icon-twitter-4, .icon-pencil-3, .icon-type, .icon-move, .icon-crop-2, .icon-floppy, .icon-checkmark-3, .icon-home-4, .icon-switch-2, .icon-earth-2, .icon-cancel, .icon-filter-3, .icon-trophy-2, .icon-skype-2, .icon-location-4, .icon-star-5, .icon-key-3, .icon-info-3, .icon-frame, .icon-gift-2, .icon-diary, .icon-cone, .icon-eye-3, .icon-chart, .icon-address-book-2, .icon-stop-3, .icon-alarm-3, .icon-heart-3, .icon-apple-2, .icon-file-5, .icon-bookmark-3, .icon-coffee, .icon-smiley-3, .icon-shit, .icon-basket, .icon-wrench-2, .icon-plus-2, .icon-sunrise, .icon-cloudy, .icon-cloud-3, .icon-sun, .icon-moon, .icon-lightning-2, .icon-sun-2, .icon-sun-3, .icon-windy, .icon-moon-2, .icon-cloudy-2, .icon-wind, .icon-snowflake, .icon-cloud-4, .icon-cloud-5, .icon-cloudy-3, .icon-cloud-6, .icon-lightning-3, .icon-rainy, .icon-weather, .icon-weather-2, .icon-rainy-2, .icon-windy-2, .icon-weather-3, .icon-lines, .icon-windy-3, .icon-snowy, .icon-cloud-7, .icon-lightning-4, .icon-snowy-2, .icon-weather-4, .icon-lightning-5, .icon-rainy-3, .icon-cloudy-4, .icon-lightning-6, .icon-rainy-4, .icon-windy-4, .icon-thermometer, .icon-compass-3, .icon-windy-5, .icon-snowy-3, .icon-none, .icon-Celsius, .icon-snowy-4, .icon-snowy-5, .icon-Fahrenheit, .icon-chat, .icon-mail-5, .icon-beaker-alt, .icon-arrow-left-4, .icon-play-alt, .icon-article, .icon-eye-4, .icon-cloud-download-2, .icon-cloud-upload-2, .icon-user-6, .icon-read-more, .icon-fullscreen-exit, .icon-arrow-left-alt1, .icon-beaker, .icon-heart-stroke, .icon-chat-alt-stroke, .icon-chat-alt-fill, .icon-heart-fill, .icon-key-stroke, .icon-arrow-left-alt2, .icon-fullscreen-exit-alt, .icon-list-4, .icon-home-5, .icon-fork, .icon-paperclip-2, .icon-clock-4, .icon-list-nested, .icon-fullscreen, .icon-arrow-right-4, .icon-key-fill, .icon-movie, .icon-comment-alt1-stroke, .icon-comment-alt1-fill, .icon-document-alt-stroke, .icon-new-window, .icon-arrow-right-alt1, .icon-book-2, .icon-lock-stroke, .icon-fullscreen-alt, .icon-iphone, .icon-arrow-right-alt2, .icon-lightbulb, .icon-document-alt-fill, .icon-comment-stroke, .icon-book-alt, .icon-lock-fill, .icon-unlock-stroke, .icon-book-alt2, .icon-battery-empty, .icon-arrow-up-4, .icon-spin-alt, .icon-document-stroke, .icon-comment-fill, .icon-comment-alt2-stroke, .icon-document-fill, .icon-spin, .icon-arrow-up-alt1, .icon-battery-half, .icon-pen-2, .icon-unlock-fill, .icon-tag-stroke, .icon-pen-alt-stroke, .icon-battery-full, .icon-arrow-up-alt2, .icon-curved-arrow, .icon-plus-3, .icon-comment-alt2-fill, .icon-checkmark-4, .icon-plus-alt, .icon-arrow-down-4, .icon-undo-3, .icon-battery-charging, .icon-tag-fill, .icon-pen-alt-fill, .icon-pen-alt2, .icon-compass-4, .icon-sun-stroke, .icon-arrow-down-alt1, .icon-reload, .icon-minus-3, .icon-check-alt, .icon-x, .icon-minus-alt, .icon-reload-alt, .icon-arrow-down-alt2, .icon-box, .icon-brush, .icon-sun-fill, .icon-moon-stroke, .icon-brush-alt, .icon-folder-stroke, .icon-cd, .icon-loop-4, .icon-pin, .icon-x-altx-alt, .icon-denied, .icon-link-2, .icon-steering-wheel, .icon-folder-fill, .icon-loop-alt1, .icon-eyedropper, .icon-moon-fill, .icon-cloud-8, .icon-layers-alt, .icon-at, .icon-microphone, .icon-loop-alt2, .icon-bolt-2, .icon-cursor, .icon-rss, .icon-move-2, .icon-loop-alt3, .icon-headphones-3, .icon-ampersand-2, .icon-layers, .icon-rain, .icon-umbrella, .icon-image-3, .icon-info-4, .icon-volume-3, .icon-loop-alt4, .icon-move-alt1, .icon-rss-alt, .icon-wrench-3, .icon-move-alt2, .icon-volume-mute-3, .icon-transfer, .icon-question-mark, .icon-camera-5, .icon-star-6, .icon-map-pin-stroke, .icon-aperture, .icon-pilcrow-2, .icon-play-5, .icon-move-vertical, .icon-equalizer-2, .icon-dial, .icon-cog-4, .icon-award-fill, .icon-pause-4, .icon-move-vertical-alt1, .icon-hash, .icon-map-pin-fill, .icon-map-pin-alt, .icon-chart-2, .icon-stop-4, .icon-move-vertical-alt2, .icon-award-stroke, .icon-calendar-4, .icon-left-quote, .icon-right-quote, .icon-aperture-alt, .icon-target-5, .icon-chart-alt, .icon-eject-2, .icon-move-horizontal, .icon-magnifying-glass, .icon-calendar-alt-stroke, .icon-calendar-alt-fill, .icon-trash-stroke, .icon-move-horizontal-alt1, .icon-first-2, .icon-left-quote-alt, .icon-bars-3, .icon-download-4, .icon-upload-4, .icon-bars-alt, .icon-right-quote-alt, .icon-last-2, .icon-move-horizontal-alt2, .icon-trash-fill, .icon-share-2 {
	font-family: 'iconos';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-home:before {
	content: "\21";
}
.icon-home-2:before {
	content: "\22";
}
.icon-home-3:before {
	content: "\23";
}
.icon-office:before {
	content: "\24";
}
.icon-newspaper:before {
	content: "\25";
}
.icon-pencil:before {
	content: "\26";
}
.icon-pencil-2:before {
	content: "\27";
}
.icon-quill:before {
	content: "\28";
}
.icon-pen:before {
	content: "\29";
}
.icon-blog:before {
	content: "\2a";
}
.icon-droplet:before {
	content: "\2b";
}
.icon-paint-format:before {
	content: "\2c";
}
.icon-image:before {
	content: "\2d";
}
.icon-image-2:before {
	content: "\2e";
}
.icon-images:before {
	content: "\2f";
}
.icon-camera:before {
	content: "\30";
}
.icon-music:before {
	content: "\31";
}
.icon-headphones:before {
	content: "\32";
}
.icon-play:before {
	content: "\33";
}
.icon-film:before {
	content: "\34";
}
.icon-camera-2:before {
	content: "\35";
}
.icon-dice:before {
	content: "\36";
}
.icon-pacman:before {
	content: "\37";
}
.icon-spades:before {
	content: "\38";
}
.icon-folder-open:before {
	content: "\39";
}
.icon-folder:before {
	content: "\3a";
}
.icon-stack:before {
	content: "\3b";
}
.icon-paste:before {
	content: "\3c";
}
.icon-paste-2:before {
	content: "\3d";
}
.icon-paste-3:before {
	content: "\3e";
}
.icon-copy:before {
	content: "\3f";
}
.icon-copy-2:before {
	content: "\40";
}
.icon-copy-3:before {
	content: "\41";
}
.icon-file:before {
	content: "\42";
}
.icon-file-2:before {
	content: "\43";
}
.icon-file-3:before {
	content: "\44";
}
.icon-profile:before {
	content: "\45";
}
.icon-file-4:before {
	content: "\46";
}
.icon-library:before {
	content: "\47";
}
.icon-books:before {
	content: "\48";
}
.icon-book:before {
	content: "\49";
}
.icon-feed:before {
	content: "\4a";
}
.icon-connection:before {
	content: "\4b";
}
.icon-podcast:before {
	content: "\4c";
}
.icon-bullhorn:before {
	content: "\4d";
}
.icon-pawn:before {
	content: "\4e";
}
.icon-diamonds:before {
	content: "\4f";
}
.icon-clubs:before {
	content: "\50";
}
.icon-tag:before {
	content: "\51";
}
.icon-tags:before {
	content: "\52";
}
.icon-barcode:before {
	content: "\53";
}
.icon-qrcode:before {
	content: "\54";
}
.icon-ticket:before {
	content: "\55";
}
.icon-cart:before {
	content: "\56";
}
.icon-cart-2:before {
	content: "\57";
}
.icon-cart-3:before {
	content: "\58";
}
.icon-coin:before {
	content: "\59";
}
.icon-credit:before {
	content: "\5a";
}
.icon-calculate:before {
	content: "\5b";
}
.icon-support:before {
	content: "\5c";
}
.icon-phone:before {
	content: "\5d";
}
.icon-address-book:before {
	content: "\5e";
}
.icon-phone-hang-up:before {
	content: "\5f";
}
.icon-notebook:before {
	content: "\60";
}
.icon-envelop:before {
	content: "\61";
}
.icon-pushpin:before {
	content: "\62";
}
.icon-location:before {
	content: "\63";
}
.icon-location-2:before {
	content: "\64";
}
.icon-compass:before {
	content: "\65";
}
.icon-map:before {
	content: "\66";
}
.icon-map-2:before {
	content: "\67";
}
.icon-history:before {
	content: "\68";
}
.icon-download:before {
	content: "\69";
}
.icon-box-remove:before {
	content: "\6a";
}
.icon-box-add:before {
	content: "\6b";
}
.icon-drawer:before {
	content: "\6c";
}
.icon-drawer-2:before {
	content: "\6d";
}
.icon-drawer-3:before {
	content: "\6e";
}
.icon-cabinet:before {
	content: "\6f";
}
.icon-tv:before {
	content: "\70";
}
.icon-tablet:before {
	content: "\71";
}
.icon-mobile:before {
	content: "\72";
}
.icon-mobile-2:before {
	content: "\73";
}
.icon-laptop:before {
	content: "\74";
}
.icon-screen:before {
	content: "\75";
}
.icon-keyboard:before {
	content: "\76";
}
.icon-print:before {
	content: "\77";
}
.icon-calendar:before {
	content: "\78";
}
.icon-calendar-2:before {
	content: "\79";
}
.icon-stopwatch:before {
	content: "\7a";
}
.icon-bell:before {
	content: "\7b";
}
.icon-alarm:before {
	content: "\7c";
}
.icon-alarm-2:before {
	content: "\7d";
}
.icon-clock:before {
	content: "\7e";
}
.icon-clock-2:before {
	content: "\e000";
}
.icon-disk:before {
	content: "\e001";
}
.icon-storage:before {
	content: "\e002";
}
.icon-undo:before {
	content: "\e003";
}
.icon-redo:before {
	content: "\e004";
}
.icon-flip:before {
	content: "\e005";
}
.icon-flip-2:before {
	content: "\e006";
}
.icon-forward:before {
	content: "\e007";
}
.icon-undo-2:before {
	content: "\e008";
}
.icon-redo-2:before {
	content: "\e009";
}
.icon-reply:before {
	content: "\e00a";
}
.icon-bubble:before {
	content: "\e00b";
}
.icon-bubbles:before {
	content: "\e00c";
}
.icon-bubbles-2:before {
	content: "\e00d";
}
.icon-bubble-2:before {
	content: "\e00e";
}
.icon-bubbles-3:before {
	content: "\e00f";
}
.icon-bubbles-4:before {
	content: "\e010";
}
.icon-users:before {
	content: "\e011";
}
.icon-user:before {
	content: "\e012";
}
.icon-user-2:before {
	content: "\e013";
}
.icon-users-2:before {
	content: "\e014";
}
.icon-user-3:before {
	content: "\e015";
}
.icon-quotes-left:before {
	content: "\e016";
}
.icon-user-4:before {
	content: "\e017";
}
.icon-busy:before {
	content: "\e018";
}
.icon-upload:before {
	content: "\e019";
}
.icon-cogs:before {
	content: "\e01a";
}
.icon-cog:before {
	content: "\e01b";
}
.icon-equalizer:before {
	content: "\e01c";
}
.icon-settings:before {
	content: "\e01d";
}
.icon-wrench:before {
	content: "\e01e";
}
.icon-unlocked:before {
	content: "\e01f";
}
.icon-lock:before {
	content: "\e020";
}
.icon-lock-2:before {
	content: "\e021";
}
.icon-key:before {
	content: "\e022";
}
.icon-key-2:before {
	content: "\e023";
}
.icon-contract:before {
	content: "\e024";
}
.icon-expand:before {
	content: "\e025";
}
.icon-contract-2:before {
	content: "\e026";
}
.icon-zoom-out:before {
	content: "\e027";
}
.icon-expand-2:before {
	content: "\e028";
}
.icon-zoom-in:before {
	content: "\e029";
}
.icon-binoculars:before {
	content: "\e02a";
}
.icon-search:before {
	content: "\e02b";
}
.icon-spinner:before {
	content: "\e02c";
}
.icon-spinner-2:before {
	content: "\e02d";
}
.icon-spinner-3:before {
	content: "\e02e";
}
.icon-spinner-4:before {
	content: "\e02f";
}
.icon-spinner-5:before {
	content: "\e030";
}
.icon-spinner-6:before {
	content: "\e031";
}
.icon-cog-2:before {
	content: "\e032";
}
.icon-wand:before {
	content: "\e033";
}
.icon-hammer:before {
	content: "\e034";
}
.icon-aid:before {
	content: "\e035";
}
.icon-bug:before {
	content: "\e036";
}
.icon-pie:before {
	content: "\e037";
}
.icon-stats:before {
	content: "\e038";
}
.icon-bars:before {
	content: "\e039";
}
.icon-bars-2:before {
	content: "\e03a";
}
.icon-gift:before {
	content: "\e03b";
}
.icon-trophy:before {
	content: "\e03c";
}
.icon-glass:before {
	content: "\e03d";
}
.icon-mug:before {
	content: "\e03e";
}
.icon-food:before {
	content: "\e03f";
}
.icon-leaf:before {
	content: "\e040";
}
.icon-rocket:before {
	content: "\e041";
}
.icon-meter:before {
	content: "\e042";
}
.icon-hammer-2:before {
	content: "\e043";
}
.icon-dashboard:before {
	content: "\e044";
}
.icon-meter2:before {
	content: "\e045";
}
.icon-fire:before {
	content: "\e046";
}
.icon-lab:before {
	content: "\e047";
}
.icon-magnet:before {
	content: "\e048";
}
.icon-remove:before {
	content: "\e049";
}
.icon-download-2:before {
	content: "\e04a";
}
.icon-upload-2:before {
	content: "\e04b";
}
.icon-download-3:before {
	content: "\e04c";
}
.icon-cloud-upload:before {
	content: "\e04d";
}
.icon-cloud-download:before {
	content: "\e04e";
}
.icon-menu:before {
	content: "\e04f";
}
.icon-tree:before {
	content: "\e050";
}
.icon-numbered-list:before {
	content: "\e051";
}
.icon-list:before {
	content: "\e052";
}
.icon-list-2:before {
	content: "\e053";
}
.icon-signup:before {
	content: "\e054";
}
.icon-power-cord:before {
	content: "\e055";
}
.icon-switch:before {
	content: "\e056";
}
.icon-lightning:before {
	content: "\e057";
}
.icon-target:before {
	content: "\e058";
}
.icon-shield:before {
	content: "\e059";
}
.icon-accessibility:before {
	content: "\e05a";
}
.icon-truck:before {
	content: "\e05b";
}
.icon-road:before {
	content: "\e05c";
}
.icon-airplane:before {
	content: "\e05d";
}
.icon-briefcase:before {
	content: "\e05e";
}
.icon-remove-2:before {
	content: "\e05f";
}
.icon-upload-3:before {
	content: "\e060";
}
.icon-globe:before {
	content: "\e061";
}
.icon-earth:before {
	content: "\e062";
}
.icon-flag:before {
	content: "\e063";
}
.icon-link:before {
	content: "\e064";
}
.icon-attachment:before {
	content: "\e065";
}
.icon-eye:before {
	content: "\e066";
}
.icon-eye-blocked:before {
	content: "\e067";
}
.icon-eye-2:before {
	content: "\e068";
}
.icon-bookmark:before {
	content: "\e069";
}
.icon-bookmarks:before {
	content: "\e06a";
}
.icon-brightness-medium:before {
	content: "\e06b";
}
.icon-brightness-contrast:before {
	content: "\e06c";
}
.icon-star:before {
	content: "\e06d";
}
.icon-star-2:before {
	content: "\e06e";
}
.icon-contrast:before {
	content: "\e06f";
}
.icon-star-3:before {
	content: "\e070";
}
.icon-menu-2:before {
	content: "\e071";
}
.icon-cloud:before {
	content: "\e072";
}
.icon-heart:before {
	content: "\e073";
}
.icon-heart-2:before {
	content: "\e074";
}
.icon-heart-broken:before {
	content: "\e075";
}
.icon-thumbs-up:before {
	content: "\e076";
}
.icon-thumbs-up-2:before {
	content: "\e077";
}
.icon-happy:before {
	content: "\e078";
}
.icon-happy-2:before {
	content: "\e079";
}
.icon-wondering:before {
	content: "\e07a";
}
.icon-neutral:before {
	content: "\e07b";
}
.icon-neutral-2:before {
	content: "\e07c";
}
.icon-wondering-2:before {
	content: "\e07d";
}
.icon-confused:before {
	content: "\e07e";
}
.icon-confused-2:before {
	content: "\e07f";
}
.icon-shocked:before {
	content: "\e080";
}
.icon-shocked-2:before {
	content: "\e081";
}
.icon-evil:before {
	content: "\e082";
}
.icon-evil-2:before {
	content: "\e083";
}
.icon-angry:before {
	content: "\e084";
}
.icon-angry-2:before {
	content: "\e085";
}
.icon-cool:before {
	content: "\e086";
}
.icon-cool-2:before {
	content: "\e087";
}
.icon-grin:before {
	content: "\e088";
}
.icon-grin-2:before {
	content: "\e089";
}
.icon-wink:before {
	content: "\e08a";
}
.icon-wink-2:before {
	content: "\e08b";
}
.icon-sad:before {
	content: "\e08c";
}
.icon-sad-2:before {
	content: "\e08d";
}
.icon-tongue:before {
	content: "\e08e";
}
.icon-tongue-2:before {
	content: "\e08f";
}
.icon-smiley:before {
	content: "\e090";
}
.icon-smiley-2:before {
	content: "\e091";
}
.icon-point-up:before {
	content: "\e092";
}
.icon-point-right:before {
	content: "\e093";
}
.icon-point-down:before {
	content: "\e094";
}
.icon-point-left:before {
	content: "\e095";
}
.icon-warning:before {
	content: "\e096";
}
.icon-question:before {
	content: "\e097";
}
.icon-notification:before {
	content: "\e098";
}
.icon-info:before {
	content: "\e099";
}
.icon-info-2:before {
	content: "\e09a";
}
.icon-cancel-circle:before {
	content: "\e09b";
}
.icon-blocked:before {
	content: "\e09c";
}
.icon-checkmark-circle:before {
	content: "\e09d";
}
.icon-spam:before {
	content: "\e09e";
}
.icon-close:before {
	content: "\e09f";
}
.icon-checkmark:before {
	content: "\e0a0";
}
.icon-checkmark-2:before {
	content: "\e0a1";
}
.icon-spell-check:before {
	content: "\e0a2";
}
.icon-minus:before {
	content: "\e0a3";
}
.icon-plus:before {
	content: "\e0a4";
}
.icon-enter:before {
	content: "\e0a5";
}
.icon-exit:before {
	content: "\e0a6";
}
.icon-play-2:before {
	content: "\e0a7";
}
.icon-pause:before {
	content: "\e0a8";
}
.icon-stop:before {
	content: "\e0a9";
}
.icon-arrow-up-left:before {
	content: "\e0aa";
}
.icon-shuffle:before {
	content: "\e0ab";
}
.icon-loop:before {
	content: "\e0ac";
}
.icon-loop-2:before {
	content: "\e0ad";
}
.icon-loop-3:before {
	content: "\e0ae";
}
.icon-volume-decrease:before {
	content: "\e0af";
}
.icon-volume-increase:before {
	content: "\e0b0";
}
.icon-volume-mute:before {
	content: "\e0b1";
}
.icon-volume-mute-2:before {
	content: "\e0b2";
}
.icon-volume-low:before {
	content: "\e0b3";
}
.icon-backward:before {
	content: "\e0b4";
}
.icon-forward-2:before {
	content: "\e0b5";
}
.icon-play-3:before {
	content: "\e0b6";
}
.icon-pause-2:before {
	content: "\e0b7";
}
.icon-stop-2:before {
	content: "\e0b8";
}
.icon-backward-2:before {
	content: "\e0b9";
}
.icon-forward-3:before {
	content: "\e0ba";
}
.icon-first:before {
	content: "\e0bb";
}
.icon-last:before {
	content: "\e0bc";
}
.icon-previous:before {
	content: "\e0bd";
}
.icon-eject:before {
	content: "\e0be";
}
.icon-volume-high:before {
	content: "\e0bf";
}
.icon-next:before {
	content: "\e0c0";
}
.icon-volume-medium:before {
	content: "\e0c1";
}
.icon-arrow-up:before {
	content: "\e0c2";
}
.icon-arrow-up-right:before {
	content: "\e0c3";
}
.icon-arrow-right:before {
	content: "\e0c4";
}
.icon-arrow-down-right:before {
	content: "\e0c5";
}
.icon-arrow-down:before {
	content: "\e0c6";
}
.icon-arrow-down-left:before {
	content: "\e0c7";
}
.icon-arrow-left:before {
	content: "\e0c8";
}
.icon-arrow-up-left-2:before {
	content: "\e0c9";
}
.icon-arrow-up-2:before {
	content: "\e0ca";
}
.icon-arrow-up-right-2:before {
	content: "\e0cb";
}
.icon-arrow-right-2:before {
	content: "\e0cc";
}
.icon-arrow-down-2:before {
	content: "\e0cd";
}
.icon-arrow-down-right-2:before {
	content: "\e0ce";
}
.icon-arrow-down-left-2:before {
	content: "\e0cf";
}
.icon-arrow-left-2:before {
	content: "\e0d0";
}
.icon-arrow-up-left-3:before {
	content: "\e0d1";
}
.icon-arrow-up-right-3:before {
	content: "\e0d2";
}
.icon-arrow-up-3:before {
	content: "\e0d3";
}
.icon-arrow-right-3:before {
	content: "\e0d4";
}
.icon-arrow-down-right-3:before {
	content: "\e0d5";
}
.icon-arrow-down-3:before {
	content: "\e0d6";
}
.icon-arrow-down-left-3:before {
	content: "\e0d7";
}
.icon-arrow-left-3:before {
	content: "\e0d8";
}
.icon-tab:before {
	content: "\e0d9";
}
.icon-right-to-left:before {
	content: "\e0da";
}
.icon-left-to-right:before {
	content: "\e0db";
}
.icon-pilcrow:before {
	content: "\e0dc";
}
.icon-insert-template:before {
	content: "\e0dd";
}
.icon-table:before {
	content: "\e0de";
}
.icon-table-2:before {
	content: "\e0df";
}
.icon-sigma:before {
	content: "\e0e0";
}
.icon-omega:before {
	content: "\e0e1";
}
.icon-strikethrough:before {
	content: "\e0e2";
}
.icon-italic:before {
	content: "\e0e3";
}
.icon-underline:before {
	content: "\e0e4";
}
.icon-text-width:before {
	content: "\e0e5";
}
.icon-bold:before {
	content: "\e0e6";
}
.icon-text-height:before {
	content: "\e0e7";
}
.icon-font:before {
	content: "\e0e8";
}
.icon-filter:before {
	content: "\e0e9";
}
.icon-filter-2:before {
	content: "\e0ea";
}
.icon-scissors:before {
	content: "\e0eb";
}
.icon-crop:before {
	content: "\e0ec";
}
.icon-radio-unchecked:before {
	content: "\e0ed";
}
.icon-radio-checked:before {
	content: "\e0ee";
}
.icon-checkbox-partial:before {
	content: "\e0ef";
}
.icon-checkbox-unchecked:before {
	content: "\e0f0";
}
.icon-checkbox-checked:before {
	content: "\e0f1";
}
.icon-paragraph-left:before {
	content: "\e0f2";
}
.icon-paragraph-center:before {
	content: "\e0f3";
}
.icon-paragraph-right:before {
	content: "\e0f4";
}
.icon-paragraph-left-2:before {
	content: "\e0f5";
}
.icon-paragraph-center-2:before {
	content: "\e0f6";
}
.icon-paragraph-justify:before {
	content: "\e0f7";
}
.icon-paragraph-right-2:before {
	content: "\e0f8";
}
.icon-paragraph-justify-2:before {
	content: "\e0f9";
}
.icon-indent-increase:before {
	content: "\e0fa";
}
.icon-new-tab:before {
	content: "\e0fb";
}
.icon-indent-decrease:before {
	content: "\e0fc";
}
.icon-embed:before {
	content: "\e0fd";
}
.icon-code:before {
	content: "\e0fe";
}
.icon-console:before {
	content: "\e0ff";
}
.icon-share:before {
	content: "\e100";
}
.icon-mail:before {
	content: "\e101";
}
.icon-mail-2:before {
	content: "\e102";
}
.icon-mail-3:before {
	content: "\e103";
}
.icon-mail-4:before {
	content: "\e104";
}
.icon-google:before {
	content: "\e105";
}
.icon-google-plus:before {
	content: "\e106";
}
.icon-google-plus-2:before {
	content: "\e107";
}
.icon-google-plus-3:before {
	content: "\e108";
}
.icon-google-plus-4:before {
	content: "\e109";
}
.icon-dribbble:before {
	content: "\e10a";
}
.icon-picassa:before {
	content: "\e10b";
}
.icon-finder:before {
	content: "\e10c";
}
.icon-paypal:before {
	content: "\e10d";
}
.icon-paypal-2:before {
	content: "\e10e";
}
.icon-apple:before {
	content: "\e10f";
}
.icon-tux:before {
	content: "\e110";
}
.icon-picassa-2:before {
	content: "\e111";
}
.icon-paypal-3:before {
	content: "\e112";
}
.icon-foursquare:before {
	content: "\e113";
}
.icon-yahoo:before {
	content: "\e114";
}
.icon-flickr:before {
	content: "\e115";
}
.icon-flickr-2:before {
	content: "\e116";
}
.icon-tumblr:before {
	content: "\e117";
}
.icon-foursquare-2:before {
	content: "\e118";
}
.icon-flattr:before {
	content: "\e119";
}
.icon-tumblr-2:before {
	content: "\e11a";
}
.icon-flickr-3:before {
	content: "\e11b";
}
.icon-flickr-4:before {
	content: "\e11c";
}
.icon-blogger:before {
	content: "\e11d";
}
.icon-xing:before {
	content: "\e11e";
}
.icon-safari:before {
	content: "\e11f";
}
.icon-IcoMoon:before {
	content: "\e120";
}
.icon-opera:before {
	content: "\e121";
}
.icon-xing-2:before {
	content: "\e122";
}
.icon-blogger-2:before {
	content: "\e123";
}
.icon-lanyrd:before {
	content: "\e124";
}
.icon-vimeo:before {
	content: "\e125";
}
.icon-joomla:before {
	content: "\e126";
}
.icon-pinterest:before {
	content: "\e127";
}
.icon-IE:before {
	content: "\e128";
}
.icon-firefox:before {
	content: "\e129";
}
.icon-pinterest-2:before {
	content: "\e12a";
}
.icon-wordpress:before {
	content: "\e12b";
}
.icon-vimeo2:before {
	content: "\e12c";
}
.icon-vimeo-2:before {
	content: "\e12d";
}
.icon-youtube:before {
	content: "\e12e";
}
.icon-youtube-2:before {
	content: "\e12f";
}
.icon-github:before {
	content: "\e130";
}
.icon-github-2:before {
	content: "\e131";
}
.icon-wordpress-2:before {
	content: "\e132";
}
.icon-stackoverflow:before {
	content: "\e133";
}
.icon-chrome:before {
	content: "\e134";
}
.icon-css3:before {
	content: "\e135";
}
.icon-stumbleupon:before {
	content: "\e136";
}
.icon-stumbleupon-2:before {
	content: "\e137";
}
.icon-html5:before {
	content: "\e138";
}
.icon-html5-2:before {
	content: "\e139";
}
.icon-delicious:before {
	content: "\e13a";
}
.icon-github-3:before {
	content: "\e13b";
}
.icon-feed-2:before {
	content: "\e13c";
}
.icon-feed-3:before {
	content: "\e13d";
}
.icon-github-4:before {
	content: "\e13e";
}
.icon-lastfm:before {
	content: "\e13f";
}
.icon-file-css:before {
	content: "\e140";
}
.icon-file-xml:before {
	content: "\e141";
}
.icon-lastfm-2:before {
	content: "\e142";
}
.icon-github-5:before {
	content: "\e143";
}
.icon-feed-4:before {
	content: "\e144";
}
.icon-twitter:before {
	content: "\e145";
}
.icon-steam:before {
	content: "\e146";
}
.icon-linkedin:before {
	content: "\e147";
}
.icon-file-powerpoint:before {
	content: "\e148";
}
.icon-file-zip:before {
	content: "\e149";
}
.icon-reddit:before {
	content: "\e14a";
}
.icon-steam-2:before {
	content: "\e14b";
}
.icon-twitter-2:before {
	content: "\e14c";
}
.icon-twitter-3:before {
	content: "\e14d";
}
.icon-file-excel:before {
	content: "\e14e";
}
.icon-skype:before {
	content: "\e14f";
}
.icon-deviantart:before {
	content: "\e150";
}
.icon-deviantart-2:before {
	content: "\e151";
}
.icon-instagram:before {
	content: "\e152";
}
.icon-soundcloud:before {
	content: "\e153";
}
.icon-file-word:before {
	content: "\e154";
}
.icon-file-openoffice:before {
	content: "\e155";
}
.icon-soundcloud-2:before {
	content: "\e156";
}
.icon-forrst:before {
	content: "\e157";
}
.icon-facebook:before {
	content: "\e158";
}
.icon-facebook-2:before {
	content: "\e159";
}
.icon-windows8:before {
	content: "\e15a";
}
.icon-forrst-2:before {
	content: "\e15b";
}
.icon-file-pdf:before {
	content: "\e15c";
}
.icon-libreoffice:before {
	content: "\e15d";
}
.icon-windows:before {
	content: "\e15e";
}
.icon-dribbble-2:before {
	content: "\e15f";
}
.icon-facebook-3:before {
	content: "\e160";
}
.icon-google-drive:before {
	content: "\e161";
}
.icon-dribbble-3:before {
	content: "\e162";
}
.icon-android:before {
	content: "\e163";
}
.icon-yelp:before {
	content: "\e164";
}
.icon-warning-2:before {
	content: "\e165";
}
.icon-minus-2:before {
	content: "\e166";
}
.icon-calendar-3:before {
	content: "\e167";
}
.icon-flag-2:before {
	content: "\e168";
}
.icon-bookmark-2:before {
	content: "\e169";
}
.icon-camera-3:before {
	content: "\e16a";
}
.icon-ipod:before {
	content: "\e16b";
}
.icon-window:before {
	content: "\e16c";
}
.icon-picture:before {
	content: "\e16d";
}
.icon-cloud-2:before {
	content: "\e16e";
}
.icon-locked:before {
	content: "\e16f";
}
.icon-folder-2:before {
	content: "\e170";
}
.icon-monitor:before {
	content: "\e171";
}
.icon-trashcan:before {
	content: "\e172";
}
.icon-lamp:before {
	content: "\e173";
}
.icon-disk-2:before {
	content: "\e174";
}
.icon-bolt:before {
	content: "\e175";
}
.icon-mobile-3:before {
	content: "\e176";
}
.icon-camera-4:before {
	content: "\e177";
}
.icon-inbox:before {
	content: "\e178";
}
.icon-comment:before {
	content: "\e179";
}
.icon-search-2:before {
	content: "\e17a";
}
.icon-droplet-2:before {
	content: "\e17b";
}
.icon-ampersand:before {
	content: "\e17c";
}
.icon-button:before {
	content: "\e17d";
}
.icon-database:before {
	content: "\e17e";
}
.icon-compass-2:before {
	content: "\e17f";
}
.icon-mouse:before {
	content: "\e180";
}
.icon-dribbble-4:before {
	content: "\e181";
}
.icon-mic:before {
	content: "\e182";
}
.icon-envelope:before {
	content: "\e183";
}
.icon-forrst-3:before {
	content: "\e184";
}
.icon-refresh:before {
	content: "\e185";
}
.icon-list-3:before {
	content: "\e186";
}
.icon-credit-card:before {
	content: "\e187";
}
.icon-atom:before {
	content: "\e188";
}
.icon-grid:before {
	content: "\e189";
}
.icon-location-3:before {
	content: "\e18a";
}
.icon-feed-5:before {
	content: "\e18b";
}
.icon-briefcase-2:before {
	content: "\e18c";
}
.icon-cart-4:before {
	content: "\e18d";
}
.icon-blocked-2:before {
	content: "\e18e";
}
.icon-tag-2:before {
	content: "\e18f";
}
.icon-volume:before {
	content: "\e190";
}
.icon-winsows:before {
	content: "\e191";
}
.icon-target-2:before {
	content: "\e192";
}
.icon-volume-2:before {
	content: "\e193";
}
.icon-phone-2:before {
	content: "\e194";
}
.icon-target-3:before {
	content: "\e195";
}
.icon-contrast-2:before {
	content: "\e196";
}
.icon-play-4:before {
	content: "\e197";
}
.icon-star-4:before {
	content: "\e198";
}
.icon-stats-2:before {
	content: "\e199";
}
.icon-battery:before {
	content: "\e19a";
}
.icon-clock-3:before {
	content: "\e19b";
}
.icon-user-5:before {
	content: "\e19c";
}
.icon-pause-3:before {
	content: "\e19d";
}
.icon-pointer:before {
	content: "\e19e";
}
.icon-target-4:before {
	content: "\e19f";
}
.icon-code-2:before {
	content: "\e1a0";
}
.icon-forward-4:before {
	content: "\e1a1";
}
.icon-thumbs-up-3:before {
	content: "\e1a2";
}
.icon-bug-2:before {
	content: "\e1a3";
}
.icon-cog-3:before {
	content: "\e1a4";
}
.icon-music-2:before {
	content: "\e1a5";
}
.icon-console-2:before {
	content: "\e1a6";
}
.icon-thumbs-down:before {
	content: "\e1a7";
}
.icon-paperclip:before {
	content: "\e1a8";
}
.icon-keyboard-2:before {
	content: "\e1a9";
}
.icon-headphones-2:before {
	content: "\e1aa";
}
.icon-film-2:before {
	content: "\e1ab";
}
.icon-twitter-4:before {
	content: "\e1ac";
}
.icon-pencil-3:before {
	content: "\e1ad";
}
.icon-type:before {
	content: "\e1ae";
}
.icon-move:before {
	content: "\e1af";
}
.icon-crop-2:before {
	content: "\e1b0";
}
.icon-floppy:before {
	content: "\e1b1";
}
.icon-checkmark-3:before {
	content: "\e1b2";
}
.icon-home-4:before {
	content: "\e1b3";
}
.icon-switch-2:before {
	content: "\e1b4";
}
.icon-earth-2:before {
	content: "\e1b5";
}
.icon-cancel:before {
	content: "\e1b6";
}
.icon-filter-3:before {
	content: "\e1b7";
}
.icon-trophy-2:before {
	content: "\e1b8";
}
.icon-skype-2:before {
	content: "\e1b9";
}
.icon-location-4:before {
	content: "\e1ba";
}
.icon-star-5:before {
	content: "\e1bb";
}
.icon-key-3:before {
	content: "\e1bc";
}
.icon-info-3:before {
	content: "\e1bd";
}
.icon-frame:before {
	content: "\e1be";
}
.icon-gift-2:before {
	content: "\e1bf";
}
.icon-diary:before {
	content: "\e1c0";
}
.icon-cone:before {
	content: "\e1c1";
}
.icon-eye-3:before {
	content: "\e1c2";
}
.icon-chart:before {
	content: "\e1c3";
}
.icon-address-book-2:before {
	content: "\e1c4";
}
.icon-stop-3:before {
	content: "\e1c5";
}
.icon-alarm-3:before {
	content: "\e1c6";
}
.icon-heart-3:before {
	content: "\e1c7";
}
.icon-apple-2:before {
	content: "\e1c8";
}
.icon-file-5:before {
	content: "\e1c9";
}
.icon-bookmark-3:before {
	content: "\e1ca";
}
.icon-coffee:before {
	content: "\e1cb";
}
.icon-smiley-3:before {
	content: "\e1cc";
}
.icon-shit:before {
	content: "\e1cd";
}
.icon-basket:before {
	content: "\e1ce";
}
.icon-wrench-2:before {
	content: "\e1cf";
}
.icon-plus-2:before {
	content: "\e1d0";
}
.icon-sunrise:before {
	content: "\e1d1";
}
.icon-cloudy:before {
	content: "\e1d2";
}
.icon-cloud-3:before {
	content: "\e1d3";
}
.icon-sun:before {
	content: "\e1d4";
}
.icon-moon:before {
	content: "\e1d5";
}
.icon-lightning-2:before {
	content: "\e1d6";
}
.icon-sun-2:before {
	content: "\e1d7";
}
.icon-sun-3:before {
	content: "\e1d8";
}
.icon-windy:before {
	content: "\e1d9";
}
.icon-moon-2:before {
	content: "\e1da";
}
.icon-cloudy-2:before {
	content: "\e1db";
}
.icon-wind:before {
	content: "\e1dc";
}
.icon-snowflake:before {
	content: "\e1dd";
}
.icon-cloud-4:before {
	content: "\e1de";
}
.icon-cloud-5:before {
	content: "\e1df";
}
.icon-cloudy-3:before {
	content: "\e1e0";
}
.icon-cloud-6:before {
	content: "\e1e1";
}
.icon-lightning-3:before {
	content: "\e1e2";
}
.icon-rainy:before {
	content: "\e1e3";
}
.icon-weather:before {
	content: "\e1e4";
}
.icon-weather-2:before {
	content: "\e1e5";
}
.icon-rainy-2:before {
	content: "\e1e6";
}
.icon-windy-2:before {
	content: "\e1e7";
}
.icon-weather-3:before {
	content: "\e1e8";
}
.icon-lines:before {
	content: "\e1e9";
}
.icon-windy-3:before {
	content: "\e1ea";
}
.icon-snowy:before {
	content: "\e1eb";
}
.icon-cloud-7:before {
	content: "\e1ec";
}
.icon-lightning-4:before {
	content: "\e1ed";
}
.icon-snowy-2:before {
	content: "\e1ee";
}
.icon-weather-4:before {
	content: "\e1ef";
}
.icon-lightning-5:before {
	content: "\e1f0";
}
.icon-rainy-3:before {
	content: "\e1f1";
}
.icon-cloudy-4:before {
	content: "\e1f2";
}
.icon-lightning-6:before {
	content: "\e1f3";
}
.icon-rainy-4:before {
	content: "\e1f4";
}
.icon-windy-4:before {
	content: "\e1f5";
}
.icon-thermometer:before {
	content: "\e1f6";
}
.icon-compass-3:before {
	content: "\e1f7";
}
.icon-windy-5:before {
	content: "\e1f8";
}
.icon-snowy-3:before {
	content: "\e1f9";
}
.icon-none:before {
	content: "\e1fa";
}
.icon-Celsius:before {
	content: "\e1fb";
}
.icon-snowy-4:before {
	content: "\e1fc";
}
.icon-snowy-5:before {
	content: "\e1fd";
}
.icon-Fahrenheit:before {
	content: "\e1fe";
}
.icon-chat:before {
	content: "\e1ff";
}
.icon-mail-5:before {
	content: "\e200";
}
.icon-beaker-alt:before {
	content: "\e201";
}
.icon-arrow-left-4:before {
	content: "\e202";
}
.icon-play-alt:before {
	content: "\e203";
}
.icon-article:before {
	content: "\e204";
}
.icon-eye-4:before {
	content: "\e205";
}
.icon-cloud-download-2:before {
	content: "\e206";
}
.icon-cloud-upload-2:before {
	content: "\e207";
}
.icon-user-6:before {
	content: "\e208";
}
.icon-read-more:before {
	content: "\e209";
}
.icon-fullscreen-exit:before {
	content: "\e20a";
}
.icon-arrow-left-alt1:before {
	content: "\e20b";
}
.icon-beaker:before {
	content: "\e20c";
}
.icon-heart-stroke:before {
	content: "\e20d";
}
.icon-chat-alt-stroke:before {
	content: "\e20e";
}
.icon-chat-alt-fill:before {
	content: "\e20f";
}
.icon-heart-fill:before {
	content: "\e210";
}
.icon-key-stroke:before {
	content: "\e211";
}
.icon-arrow-left-alt2:before {
	content: "\e212";
}
.icon-fullscreen-exit-alt:before {
	content: "\e213";
}
.icon-list-4:before {
	content: "\e214";
}
.icon-home-5:before {
	content: "\e215";
}
.icon-fork:before {
	content: "\e216";
}
.icon-paperclip-2:before {
	content: "\e217";
}
.icon-clock-4:before {
	content: "\e218";
}
.icon-list-nested:before {
	content: "\e219";
}
.icon-fullscreen:before {
	content: "\e21a";
}
.icon-arrow-right-4:before {
	content: "\e21b";
}
.icon-key-fill:before {
	content: "\e21c";
}
.icon-movie:before {
	content: "\e21d";
}
.icon-comment-alt1-stroke:before {
	content: "\e21e";
}
.icon-comment-alt1-fill:before {
	content: "\e21f";
}
.icon-document-alt-stroke:before {
	content: "\e220";
}
.icon-new-window:before {
	content: "\e221";
}
.icon-arrow-right-alt1:before {
	content: "\e222";
}
.icon-book-2:before {
	content: "\e223";
}
.icon-lock-stroke:before {
	content: "\e224";
}
.icon-fullscreen-alt:before {
	content: "\e225";
}
.icon-iphone:before {
	content: "\e226";
}
.icon-arrow-right-alt2:before {
	content: "\e227";
}
.icon-lightbulb:before {
	content: "\e228";
}
.icon-document-alt-fill:before {
	content: "\e229";
}
.icon-comment-stroke:before {
	content: "\e22a";
}
.icon-book-alt:before {
	content: "\e22b";
}
.icon-lock-fill:before {
	content: "\e22c";
}
.icon-unlock-stroke:before {
	content: "\e22d";
}
.icon-book-alt2:before {
	content: "\e22e";
}
.icon-battery-empty:before {
	content: "\e22f";
}
.icon-arrow-up-4:before {
	content: "\e230";
}
.icon-spin-alt:before {
	content: "\e231";
}
.icon-document-stroke:before {
	content: "\e232";
}
.icon-comment-fill:before {
	content: "\e233";
}
.icon-comment-alt2-stroke:before {
	content: "\e234";
}
.icon-document-fill:before {
	content: "\e235";
}
.icon-spin:before {
	content: "\e236";
}
.icon-arrow-up-alt1:before {
	content: "\e237";
}
.icon-battery-half:before {
	content: "\e238";
}
.icon-pen-2:before {
	content: "\e239";
}
.icon-unlock-fill:before {
	content: "\e23a";
}
.icon-tag-stroke:before {
	content: "\e23b";
}
.icon-pen-alt-stroke:before {
	content: "\e23c";
}
.icon-battery-full:before {
	content: "\e23d";
}
.icon-arrow-up-alt2:before {
	content: "\e23e";
}
.icon-curved-arrow:before {
	content: "\e23f";
}
.icon-plus-3:before {
	content: "\e240";
}
.icon-comment-alt2-fill:before {
	content: "\e241";
}
.icon-checkmark-4:before {
	content: "\e242";
}
.icon-plus-alt:before {
	content: "\e243";
}
.icon-arrow-down-4:before {
	content: "\e244";
}
.icon-undo-3:before {
	content: "\e245";
}
.icon-battery-charging:before {
	content: "\e246";
}
.icon-tag-fill:before {
	content: "\e247";
}
.icon-pen-alt-fill:before {
	content: "\e248";
}
.icon-pen-alt2:before {
	content: "\e249";
}
.icon-compass-4:before {
	content: "\e24a";
}
.icon-sun-stroke:before {
	content: "\e24b";
}
.icon-arrow-down-alt1:before {
	content: "\e24c";
}
.icon-reload:before {
	content: "\e24d";
}
.icon-minus-3:before {
	content: "\e24e";
}
.icon-check-alt:before {
	content: "\e24f";
}
.icon-x:before {
	content: "\e250";
}
.icon-minus-alt:before {
	content: "\e251";
}
.icon-reload-alt:before {
	content: "\e252";
}
.icon-arrow-down-alt2:before {
	content: "\e253";
}
.icon-box:before {
	content: "\e254";
}
.icon-brush:before {
	content: "\e255";
}
.icon-sun-fill:before {
	content: "\e256";
}
.icon-moon-stroke:before {
	content: "\e257";
}
.icon-brush-alt:before {
	content: "\e258";
}
.icon-folder-stroke:before {
	content: "\e259";
}
.icon-cd:before {
	content: "\e25a";
}
.icon-loop-4:before {
	content: "\e25b";
}
.icon-pin:before {
	content: "\e25c";
}
.icon-x-altx-alt:before {
	content: "\e25d";
}
.icon-denied:before {
	content: "\e25e";
}
.icon-link-2:before {
	content: "\e25f";
}
.icon-steering-wheel:before {
	content: "\e260";
}
.icon-folder-fill:before {
	content: "\e261";
}
.icon-loop-alt1:before {
	content: "\e262";
}
.icon-eyedropper:before {
	content: "\e263";
}
.icon-moon-fill:before {
	content: "\e264";
}
.icon-cloud-8:before {
	content: "\e265";
}
.icon-layers-alt:before {
	content: "\e266";
}
.icon-at:before {
	content: "\e267";
}
.icon-microphone:before {
	content: "\e268";
}
.icon-loop-alt2:before {
	content: "\e269";
}
.icon-bolt-2:before {
	content: "\e26a";
}
.icon-cursor:before {
	content: "\e26b";
}
.icon-rss:before {
	content: "\e26c";
}
.icon-move-2:before {
	content: "\e26d";
}
.icon-loop-alt3:before {
	content: "\e26e";
}
.icon-headphones-3:before {
	content: "\e26f";
}
.icon-ampersand-2:before {
	content: "\e270";
}
.icon-layers:before {
	content: "\e271";
}
.icon-rain:before {
	content: "\e272";
}
.icon-umbrella:before {
	content: "\e273";
}
.icon-image-3:before {
	content: "\e274";
}
.icon-info-4:before {
	content: "\e275";
}
.icon-volume-3:before {
	content: "\e276";
}
.icon-loop-alt4:before {
	content: "\e277";
}
.icon-move-alt1:before {
	content: "\e278";
}
.icon-rss-alt:before {
	content: "\e279";
}
.icon-wrench-3:before {
	content: "\e27a";
}
.icon-move-alt2:before {
	content: "\e27b";
}
.icon-volume-mute-3:before {
	content: "\e27c";
}
.icon-transfer:before {
	content: "\e27d";
}
.icon-question-mark:before {
	content: "\e27e";
}
.icon-camera-5:before {
	content: "\e27f";
}
.icon-star-6:before {
	content: "\e280";
}
.icon-map-pin-stroke:before {
	content: "\e281";
}
.icon-aperture:before {
	content: "\e282";
}
.icon-pilcrow-2:before {
	content: "\e283";
}
.icon-play-5:before {
	content: "\e284";
}
.icon-move-vertical:before {
	content: "\e285";
}
.icon-equalizer-2:before {
	content: "\e286";
}
.icon-dial:before {
	content: "\e287";
}
.icon-cog-4:before {
	content: "\e288";
}
.icon-award-fill:before {
	content: "\e289";
}
.icon-pause-4:before {
	content: "\e28a";
}
.icon-move-vertical-alt1:before {
	content: "\e28b";
}
.icon-hash:before {
	content: "\e28c";
}
.icon-map-pin-fill:before {
	content: "\e28d";
}
.icon-map-pin-alt:before {
	content: "\e28e";
}
.icon-chart-2:before {
	content: "\e28f";
}
.icon-stop-4:before {
	content: "\e290";
}
.icon-move-vertical-alt2:before {
	content: "\e291";
}
.icon-award-stroke:before {
	content: "\e292";
}
.icon-calendar-4:before {
	content: "\e293";
}
.icon-left-quote:before {
	content: "\e294";
}
.icon-right-quote:before {
	content: "\e295";
}
.icon-aperture-alt:before {
	content: "\e296";
}
.icon-target-5:before {
	content: "\e297";
}
.icon-chart-alt:before {
	content: "\e298";
}
.icon-eject-2:before {
	content: "\e299";
}
.icon-move-horizontal:before {
	content: "\e29a";
}
.icon-magnifying-glass:before {
	content: "\e29b";
}
.icon-calendar-alt-stroke:before {
	content: "\e29c";
}
.icon-calendar-alt-fill:before {
	content: "\e29d";
}
.icon-trash-stroke:before {
	content: "\e29e";
}
.icon-move-horizontal-alt1:before {
	content: "\e29f";
}
.icon-first-2:before {
	content: "\e2a0";
}
.icon-left-quote-alt:before {
	content: "\e2a1";
}
.icon-bars-3:before {
	content: "\e2a2";
}
.icon-download-4:before {
	content: "\e2a3";
}
.icon-upload-4:before {
	content: "\e2a4";
}
.icon-bars-alt:before {
	content: "\e2a5";
}
.icon-right-quote-alt:before {
	content: "\e2a6";
}
.icon-last-2:before {
	content: "\e2a7";
}
.icon-move-horizontal-alt2:before {
	content: "\e2a8";
}
.icon-trash-fill:before {
	content: "\e2a9";
}
.icon-share-2:before {
	content: "\e2aa";
}
